In [2]:
import pandas as pd

In [3]:
min_data = pd.read_csv('min_data.csv',index_col=0)
min_data

C:\Users\bitcamp\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

          REG_YYMM STD_CLSS_NM        신용카드                 한국은행_분류  서비스업_생산지수
0           201901  건강보조식품 소매업  52,039,328               음ㆍ식료품 소매업       86.7
1           201901  건강보조식품 소매업  52,039,328               음ㆍ식료품 소매업       86.7
2           201901  건강보조식품 소매업  52,039,328               음ㆍ식료품 소매업       86.7
3           201901  건강보조식품 소매업  52,039,328               음ㆍ식료품 소매업       86.7
4           201901  건강보조식품 소매업  52,039,328               음ㆍ식료품 소매업       86.7
...            ...         ...         ...                     ...        ...
24697787    202003    휴양콘도 운영업  47,855,261        일반 및 생활 숙박시설 운영업       41.8
24697788    202003    휴양콘도 운영업  47,855,261        일반 및 생활 숙박시설 운영업       41.8
24697789    202003    휴양콘도 운영업  47,855,261        일반 및 생활 숙박시설 운영업       41.8
24697790    202003    휴양콘도 운영업  47,855,261        일반 및 생활 숙박시설 운영업       41.8
24697791    202003    휴양콘도 운영업  47,855,261        일반 및 생활 숙박시설 운영업       41.8

[24697792 rows x 5 columns]

In [5]:
box = []
for i in min_data['REG_YYMM'] :
    if str(i)[:4] == '2019' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-0.3)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '04' or str(i)[-2:] == '05' or str(i)[-2:] == '06') :
        box.append(1.0)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '07' or str(i)[-2:] == '08' or str(i)[-2:] == '09') :
        box.append(0.4)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '10' or str(i)[-2:] == '11' or str(i)[-2:] == '12') :
        box.append(1.3)
    if str(i)[:4] == '2020' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-1.3)

In [6]:
min_data['경제성장률'] = box

In [7]:
box = []
for i in min_data['REG_YYMM'] :
    if str(i)[:4] == '2019' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-1.2)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '04' or str(i)[-2:] == '05' or str(i)[-2:] == '06') :
        box.append(1.3)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '07' or str(i)[-2:] == '08' or str(i)[-2:] == '09') :
        box.append(-0.6)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '10' or str(i)[-2:] == '11' or str(i)[-2:] == '12') :
        box.append(0.9)
    if str(i)[:4] == '2020' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-2.6)

In [8]:
min_data['경제성장률_전기대비증감'] = box

In [9]:
box = []
for i in min_data['REG_YYMM'] :
    if str(i)[:4] == '2019' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(104.048)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '04' or str(i)[-2:] == '05' or str(i)[-2:] == '06') :
        box.append(104.045)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '07' or str(i)[-2:] == '08' or str(i)[-2:] == '09') :
        box.append(105.202)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '10' or str(i)[-2:] == '11' or str(i)[-2:] == '12') :
        box.append(101.977)
    if str(i)[:4] == '2020' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(103.385)

In [10]:
min_data['GDP디플레이터'] = box

In [11]:
box = []
for i in min_data['REG_YYMM'] :
    if str(i)[:4] == '2019' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-0.6)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '04' or str(i)[-2:] == '05' or str(i)[-2:] == '06') :
        box.append(-0.6)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '07' or str(i)[-2:] == '08' or str(i)[-2:] == '09') :
        box.append(-1.6)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '10' or str(i)[-2:] == '11' or str(i)[-2:] == '12') :
        box.append(-0.8)
    if str(i)[:4] == '2020' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-0.6)

In [12]:
min_data['GDP_전년동기대비증감율'] = box

In [13]:
box = []
for i in min_data['REG_YYMM'] :
    if str(i)[:4] == '2019' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(0.1)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '04' or str(i)[-2:] == '05' or str(i)[-2:] == '06') :
        box.append(0.7)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '07' or str(i)[-2:] == '08' or str(i)[-2:] == '09') :
        box.append(0.4)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '10' or str(i)[-2:] == '11' or str(i)[-2:] == '12') :
        box.append(0.7)
    if str(i)[:4] == '2020' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-6.5)

In [14]:
min_data['민간소비증감률'] = box

In [15]:
box = []
for i in min_data['REG_YYMM'] :
    if str(i)[:4] == '2019' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-0.4)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '04' or str(i)[-2:] == '05' or str(i)[-2:] == '06') :
        box.append(0.6)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '07' or str(i)[-2:] == '08' or str(i)[-2:] == '09') :
        box.append(-0.3)
    if str(i)[:4] == '2019' and (str(i)[-2:] == '10' or str(i)[-2:] == '11' or str(i)[-2:] == '12') :
        box.append(0.3)
    if str(i)[:4] == '2020' and (str(i)[-2:] == '01' or str(i)[-2:] == '02' or str(i)[-2:] == '03') :
        box.append(-7.2)

In [16]:
min_data['민간소비증감률_전기대비증감'] = box

In [17]:
min_data

,REG_YYMM,STD_CLSS_NM,신용카드,한국은행_분류,서비스업_생산지수,경제성장률,경제성장률_전기대비증감,GDP디플레이터,GDP_전년동기대비증감율,민간소비증감률,민간소비증감률_전기대비증감
0,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4
1,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4
2,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4
3,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4
4,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4
...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2
24697788,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2
24697789,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2
24697790,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2
24697791,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2

In [41]:
신용카드_물품및용역 = pd.read_csv('5.5.2 지급수단별 통계.csv', encoding='cp949').T
신용카드_물품및용역

                      0               1                  2                  3
통계표      5.5.2 지급수단별 통계  5.5.2 지급수단별 통계     5.5.2 지급수단별 통계     5.5.2 지급수단별 통계
항목명1               신용카드            신용카드      신용카드(물품및용역구매)      신용카드(물품및용역구매)
항목명2                 건수              금액                 건수                 금액
단위                  천건             십억원                 천건                십억원
변환                  원자료             원자료                원자료                원자료
2019/01     1,163,955.0        64,562.0        1,156,967.0           59,474.6
2019/02     1,042,075.9        56,101.3        1,035,762.8           51,342.0
2019/03     1,183,540.7        63,451.2        1,176,383.3           58,229.3
2019/04     1,214,458.9        64,490.5        1,207,533.2           59,534.0
2019/05     1,284,566.0        68,237.9        1,277,519.6           63,157.3
2019/06     1,229,691.4        62,622.1        1,223,047.8           57,782.7
2019/07     1,312,093.0        66,409.9        1,305,015.3           61,179.2
2019/08     1,306,276.7        64,795.7        1,299,442.3           59,714.2
2019/09     1,230,281.5        63,665.6        1,223,828.8           58,760.8
2019/10     1,312,267.4        67,293.1        1,305,302.4           62,160.7
2019/11     1,267,270.4        66,769.0        1,260,709.8           61,847.1
2019/12     1,306,649.2        69,952.1        1,299,920.5           64,854.9
2020/01     1,235,522.0        67,184.2        1,229,374.1           62,375.2
2020/02     1,103,726.6        59,709.9        1,097,802.0           54,879.8
2020/03     1,124,994.9        58,866.7        1,119,048.0           53,853.1
2020/04     1,129,935.2        60,404.9        1,124,720.9           56,037.3
2020/05     1,226,332.2        65,034.3        1,220,880.5           60,536.5

In [42]:
신용카드_물품및용역.columns = ['신용카드_건수','신용카드_금액','신용카드_물품및용역_건수','신용카드_물품및용역_금액']

In [43]:
신용카드_물품및용역 = 신용카드_물품및용역[5:]

In [44]:
신용카드_물품및용역

             신용카드_건수   신용카드_금액 신용카드_물품및용역_건수 신용카드_물품및용역_금액
2019/01  1,163,955.0  64,562.0   1,156,967.0      59,474.6
2019/02  1,042,075.9  56,101.3   1,035,762.8      51,342.0
2019/03  1,183,540.7  63,451.2   1,176,383.3      58,229.3
2019/04  1,214,458.9  64,490.5   1,207,533.2      59,534.0
2019/05  1,284,566.0  68,237.9   1,277,519.6      63,157.3
2019/06  1,229,691.4  62,622.1   1,223,047.8      57,782.7
2019/07  1,312,093.0  66,409.9   1,305,015.3      61,179.2
2019/08  1,306,276.7  64,795.7   1,299,442.3      59,714.2
2019/09  1,230,281.5  63,665.6   1,223,828.8      58,760.8
2019/10  1,312,267.4  67,293.1   1,305,302.4      62,160.7
2019/11  1,267,270.4  66,769.0   1,260,709.8      61,847.1
2019/12  1,306,649.2  69,952.1   1,299,920.5      64,854.9
2020/01  1,235,522.0  67,184.2   1,229,374.1      62,375.2
2020/02  1,103,726.6  59,709.9   1,097,802.0      54,879.8
2020/03  1,124,994.9  58,866.7   1,119,048.0      53,853.1
2020/04  1,129,935.2  60,404.9   1,124,720.9      56,037.3
2020/05  1,226,332.2  65,034.3   1,220,880.5      60,536.5

In [45]:
신용카드_물품및용역.index

Index(['2019/01', '2019/02', '2019/03', '2019/04', '2019/05', '2019/06',
       '2019/07', '2019/08', '2019/09', '2019/10', '2019/11', '2019/12',
       '2020/01', '2020/02', '2020/03', '2020/04', '2020/05'],
      dtype='object')

In [46]:
data = []
for i in 신용카드_물품및용역.index :
    a = str(i[:4])+str(i[-2:])
    data.append(int(a))

In [47]:
신용카드_물품및용역.index = data

In [48]:
신용카드_물품및용역

            신용카드_건수   신용카드_금액 신용카드_물품및용역_건수 신용카드_물품및용역_금액
201901  1,163,955.0  64,562.0   1,156,967.0      59,474.6
201902  1,042,075.9  56,101.3   1,035,762.8      51,342.0
201903  1,183,540.7  63,451.2   1,176,383.3      58,229.3
201904  1,214,458.9  64,490.5   1,207,533.2      59,534.0
201905  1,284,566.0  68,237.9   1,277,519.6      63,157.3
201906  1,229,691.4  62,622.1   1,223,047.8      57,782.7
201907  1,312,093.0  66,409.9   1,305,015.3      61,179.2
201908  1,306,276.7  64,795.7   1,299,442.3      59,714.2
201909  1,230,281.5  63,665.6   1,223,828.8      58,760.8
201910  1,312,267.4  67,293.1   1,305,302.4      62,160.7
201911  1,267,270.4  66,769.0   1,260,709.8      61,847.1
201912  1,306,649.2  69,952.1   1,299,920.5      64,854.9
202001  1,235,522.0  67,184.2   1,229,374.1      62,375.2
202002  1,103,726.6  59,709.9   1,097,802.0      54,879.8
202003  1,124,994.9  58,866.7   1,119,048.0      53,853.1
202004  1,129,935.2  60,404.9   1,124,720.9      56,037.3
202005  1,226,332.2  65,034.3   1,220,880.5      60,536.5

In [50]:
신용카드_물품및용역 = 신용카드_물품및용역.reset_index()

In [51]:
신용카드_물품및용역

     index      신용카드_건수   신용카드_금액 신용카드_물품및용역_건수 신용카드_물품및용역_금액
0   201901  1,163,955.0  64,562.0   1,156,967.0      59,474.6
1   201902  1,042,075.9  56,101.3   1,035,762.8      51,342.0
2   201903  1,183,540.7  63,451.2   1,176,383.3      58,229.3
3   201904  1,214,458.9  64,490.5   1,207,533.2      59,534.0
4   201905  1,284,566.0  68,237.9   1,277,519.6      63,157.3
5   201906  1,229,691.4  62,622.1   1,223,047.8      57,782.7
6   201907  1,312,093.0  66,409.9   1,305,015.3      61,179.2
7   201908  1,306,276.7  64,795.7   1,299,442.3      59,714.2
8   201909  1,230,281.5  63,665.6   1,223,828.8      58,760.8
9   201910  1,312,267.4  67,293.1   1,305,302.4      62,160.7
10  201911  1,267,270.4  66,769.0   1,260,709.8      61,847.1
11  201912  1,306,649.2  69,952.1   1,299,920.5      64,854.9
12  202001  1,235,522.0  67,184.2   1,229,374.1      62,375.2
13  202002  1,103,726.6  59,709.9   1,097,802.0      54,879.8
14  202003  1,124,994.9  58,866.7   1,119,048.0      53,853.1
15  202004  1,129,935.2  60,404.9   1,124,720.9      56,037.3
16  202005  1,226,332.2  65,034.3   1,220,880.5      60,536.5

In [55]:
신용카드_물품및용역.columns

Index(['index', '신용카드_건수', '신용카드_금액', '신용카드_물품및용역_건수', '신용카드_물품및용역_금액'], dtype='object')

In [56]:
신용카드_물품및용역.columns = ['REG_YYMM', '신용카드_건수', '신용카드_금액', '신용카드_물품및용역_건수', '신용카드_물품및용역_금액']

In [58]:
min_data = pd.merge(min_data,신용카드_물품및용역,how='left',on='REG_YYMM' )

In [59]:
min_data

,REG_YYMM,STD_CLSS_NM,신용카드,한국은행_분류,서비스업_생산지수,경제성장률,경제성장률_전기대비증감,GDP디플레이터,GDP_전년동기대비증감율,민간소비증감률,민간소비증감률_전기대비증감,신용카드_건수,신용카드_금액,신용카드_물품및용역_건수,신용카드_물품및용역_금액
0,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4,"1,163,955.0","64,562.0","1,156,967.0","59,474.6"
1,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4,"1,163,955.0","64,562.0","1,156,967.0","59,474.6"
2,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4,"1,163,955.0","64,562.0","1,156,967.0","59,474.6"
3,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4,"1,163,955.0","64,562.0","1,156,967.0","59,474.6"
4,201901,건강보조식품 소매업,"52,039,328",음ㆍ식료품 소매업,86.7,-0.3,-1.2,104.048,-0.6,0.1,-0.4,"1,163,955.0","64,562.0","1,156,967.0","59,474.6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2,"1,124,994.9","58,866.7","1,119,048.0","53,853.1"
24697788,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2,"1,124,994.9","58,866.7","1,119,048.0","53,853.1"
24697789,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2,"1,124,994.9","58,866.7","1,119,048.0","53,853.1"
24697790,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2,"1,124,994.9","58,866.7","1,119,048.0","53,853.1"
24697791,202003,휴양콘도 운영업,"47,855,261",일반 및 생활 숙박시설 운영업,41.8,-1.3,-2.6,103.385,-0.6,-6.5,-7.2,"1,124,994.9","58,866.7","1,119,048.0","53,853.1"

In [61]:
min_data.columns

Index(['REG_YYMM', 'STD_CLSS_NM', '신용카드', '한국은행_분류', '서비스업_생산지수', '경제성장률',
       '경제성장률_전기대비증감', 'GDP디플레이터', 'GDP_전년동기대비증감율', '민간소비증감률',
       '민간소비증감률_전기대비증감', '신용카드_건수', '신용카드_금액', '신용카드_물품및용역_건수',
       '신용카드_물품및용역_금액'],
      dtype='object')

In [60]:
min_data.to_csv('min_data.csv')