In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('201901-202003.csv')
data

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [3]:
min_data = data[['REG_YYMM','STD_CLSS_NM']]

In [4]:
min_data

          REG_YYMM STD_CLSS_NM
0           201901  건강보조식품 소매업
1           201901  건강보조식품 소매업
2           201901  건강보조식품 소매업
3           201901  건강보조식품 소매업
4           201901  건강보조식품 소매업
...            ...         ...
24697787    202003    휴양콘도 운영업
24697788    202003    휴양콘도 운영업
24697789    202003    휴양콘도 운영업
24697790    202003    휴양콘도 운영업
24697791    202003    휴양콘도 운영업

[24697792 rows x 2 columns]

In [40]:
신용카드 = pd.read_csv('5.8.1 신용카드.csv', encoding='cp949', header=None).T
신용카드

          0           1
0       통계표  5.8.1 신용카드
1      항목명1     개인 이용금액
2      항목명2          합계
3        단위        백만원
4        변환         원자료
5   2019/01  52,039,328
6   2019/02  45,466,358
7   2019/03  51,678,679
8   2019/04  50,723,386
9   2019/05  53,425,506
10  2019/06  50,508,891
11  2019/07  53,730,267
12  2019/08  52,485,647
13  2019/09  50,893,769
14  2019/10  54,017,093
15  2019/11  53,814,165
16  2019/12  55,909,956
17  2020/01  54,236,900
18  2020/02  47,469,871
19  2020/03  47,855,261
20  2020/04  48,173,840
21  2020/05  52,256,085

In [41]:
신용카드 = 신용카드.iloc[5:]
신용카드.columns = ['REG_YYMM','신용카드']

In [42]:
신용카드['REG_YYMM']

5     2019/01
6     2019/02
7     2019/03
8     2019/04
9     2019/05
10    2019/06
11    2019/07
12    2019/08
13    2019/09
14    2019/10
15    2019/11
16    2019/12
17    2020/01
18    2020/02
19    2020/03
20    2020/04
21    2020/05
Name: REG_YYMM, dtype: object

In [34]:
신용카드 = 신용카드.set_index

In [35]:
신용카드

<bound method DataFrame.set_index of    REG_YYMM        신용카드
5   2019/01  52,039,328
6   2019/02  45,466,358
7   2019/03  51,678,679
8   2019/04  50,723,386
9   2019/05  53,425,506
10  2019/06  50,508,891
11  2019/07  53,730,267
12  2019/08  52,485,647
13  2019/09  50,893,769
14  2019/10  54,017,093
15  2019/11  53,814,165
16  2019/12  55,909,956
17  2020/01  54,236,900
18  2020/02  47,469,871
19  2020/03  47,855,261
20  2020/04  48,173,840
21  2020/05  52,256,085>

In [44]:
data = []
for i in 신용카드['REG_YYMM'] :
    a = str(i[:4])+str(i[-2:])
    data.append(int(a))

In [45]:
신용카드['REG_YYMM'] = data

C:\Users\bitcamp\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
신용카드

    REG_YYMM        신용카드
5     201901  52,039,328
6     201902  45,466,358
7     201903  51,678,679
8     201904  50,723,386
9     201905  53,425,506
10    201906  50,508,891
11    201907  53,730,267
12    201908  52,485,647
13    201909  50,893,769
14    201910  54,017,093
15    201911  53,814,165
16    201912  55,909,956
17    202001  54,236,900
18    202002  47,469,871
19    202003  47,855,261
20    202004  48,173,840
21    202005  52,256,085

In [46]:
min_data

          REG_YYMM STD_CLSS_NM
0           201901  건강보조식품 소매업
1           201901  건강보조식품 소매업
2           201901  건강보조식품 소매업
3           201901  건강보조식품 소매업
4           201901  건강보조식품 소매업
...            ...         ...
24697787    202003    휴양콘도 운영업
24697788    202003    휴양콘도 운영업
24697789    202003    휴양콘도 운영업
24697790    202003    휴양콘도 운영업
24697791    202003    휴양콘도 운영업

[24697792 rows x 2 columns]

In [49]:
min_data = pd.merge(min_data,신용카드,how='left',on=['REG_YYMM'])

In [54]:
서비스업_생산지수 = pd.read_csv('16.5.1 산업별 서비스업생산지수.csv', encoding='cp949', header=0)
서비스업_생산지수

,통계표,항목명1,항목명2,단위,변환,2019/01,2019/02,2019/03,2019/04,2019/05,...,2019/08,2019/09,2019/10,2019/11,2019/12,2020/01,2020/02,2020/03,2020/04,2020/05
0,16.5.1 산업별 서비스업생산지수,총지수,경상지수,2015=100,원자료,111.0,104.6,114.4,113.8,115.9,...,114.7,113.1,115.6,116.8,126.3,113.7,107.5,110.3,107.8,112.1
1,16.5.1 산업별 서비스업생산지수,총지수,불변지수,2015=100,원자료,105.8,99.4,108.7,107.7,109.5,...,108.2,106.8,109.1,110.3,118.8,106.7,100.6,103.3,101.1,105.1
2,16.5.1 산업별 서비스업생산지수,총지수,계절조정지수,2015=100,원자료,108.6,106.7,107.4,108.0,108.4,...,109.3,108.2,108.7,109.6,109.8,110.3,106.4,101.7,102.2,104.6
3,16.5.1 산업별 서비스업생산지수,"수도, 하수 및 폐기물 처리, 원료 재생업",경상지수,2015=100,원자료,124.0,103.9,128.2,136.1,141.0,...,145.7,132.4,150.6,146.6,152.9,129.5,133.4,146.8,145.8,148.6
4,16.5.1 산업별 서비스업생산지수,"수도, 하수 및 폐기물 처리, 원료 재생업",불변지수,2015=100,원자료,99.0,83.4,102.2,107.9,110.4,...,112.2,102.2,115.2,111.8,114.1,97.0,98.8,108.0,107.1,109.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,16.5.1 산업별 서비스업생산지수,"미용, 욕탕 및 유사 서비스업",불변지수,2015=100,원자료,97.5,88.7,95.9,89.8,86.6,...,84.5,83.0,85.4,88.1,94.7,94.3,70.4,60.9,70.4,79.8
404,16.5.1 산업별 서비스업생산지수,"미용, 욕탕 및 유사 서비스업",계절조정지수,2015=100,원자료,91.6,89.0,91.0,89.7,87.1,...,87.8,85.6,87.0,88.6,89.5,87.7,71.4,57.8,70.4,80.4
405,16.5.1 산업별 서비스업생산지수,그외 기타 개인 서비스업,경상지수,2015=100,원자료,94.6,84.6,122.3,122.7,112.9,...,79.2,93.9,126.1,130.9,130.0,91.5,92.3,78.8,85.2,105.0
406,16.5.1 산업별 서비스업생산지수,그외 기타 개인 서비스업,불변지수,2015=100,원자료,91.0,80.9,116.9,117.2,107.5,...,75.3,89.7,120.7,125.2,124.3,86.5,87.2,73.9,80.0,98.9
407,16.5.1 산업별 서비스업생산지수,그외 기타 개인 서비스업,계절조정지수,2015=100,원자료,101.1,100.6,104.2,102.4,101.4,...,102.1,103.5,100.3,102.8,102.5,104.5,95.1,66.9,70.7,91.3

In [57]:
서비스업_생산지수 = 서비스업_생산지수[서비스업_생산지수['항목명2']=='계절조정지수']

In [60]:
del 서비스업_생산지수['통계표']
del 서비스업_생산지수['항목명2']
del 서비스업_생산지수['단위']
del 서비스업_생산지수['변환']

In [62]:
서비스업_생산지수 = 서비스업_생산지수.T

In [67]:
서비스업_생산지수.columns = 서비스업_생산지수.iloc[0]

In [70]:
서비스업_생산지수 = 서비스업_생산지수.iloc[1:]

In [71]:
서비스업_생산지수

항목명1,총지수,"수도, 하수 및 폐기물 처리, 원료 재생업",수도업,수도업,"하수, 폐수 및 분뇨 처리업","하수, 폐수 및 분뇨 처리업","폐기물 수집운반, 처리 및 원료재생업",도매 및 소매업,자동차 및 부품판매업,자동차 판매업,...,유원지 및 기타 오락관련 서비스업,"협회 및 단체, 수리 및 기타개인서비스업",협회 및 단체,산업 및 전문가 단체,개인 및 소비용품 수리업,자동차 수리업,개인 및 가정용품 수리업,기타 개인 서비스업,"미용, 욕탕 및 유사 서비스업",그외 기타 개인 서비스업
2019/01,108.6,105.9,106.1,106.1,95.6,95.6,109,106.7,110.8,107.9,...,101.6,100.8,104.4,104.4,106.2,107.3,102.8,95.6,91.6,101.1
2019/02,106.7,101,102.6,102.6,95.1,95.1,102.1,102.6,103.7,104.1,...,102.9,98.3,100,100,103.2,104.9,97.9,93.8,89,100.6
2019/03,107.4,104.8,105.6,105.6,96.5,96.5,106.9,104.8,107.7,107.4,...,101.4,100.4,101.4,101.4,104.8,106.8,98.3,96.5,91,104.2
2019/04,108,105.3,105.2,105.2,95.2,95.2,108.5,104.1,108.5,109.4,...,100.8,100.5,103.5,103.5,106.4,108,101.2,95,89.7,102.4
2019/05,108.4,107.1,107.5,107.5,96.2,96.2,110.3,105,108.4,109.6,...,99.3,99.7,105.1,105.1,106.4,108.5,99.4,93.1,87.1,101.4
2019/06,107.2,100,105.1,105.1,97.4,97.4,98.5,104.1,106.2,104.9,...,97.9,99.1,103.6,103.6,103.4,105,98,94.8,87.8,104.7
2019/07,108.4,108.3,105.7,105.7,97.4,97.4,113,104.3,110.2,110.4,...,97.6,98,103.3,103.3,102.8,105.5,93.9,93.1,86.4,102.6
2019/08,109.3,109.6,105.8,105.8,99.4,99.4,114.5,106.2,111.6,114,...,100.5,99.4,105.4,105.4,104.9,108.2,94,93.8,87.8,102.1
2019/09,108.2,104.5,105.1,105.1,100,100,105.7,104.1,112.4,115.4,...,97.8,98,97.9,97.9,103.9,107,93.4,93,85.6,103.5
2019/10,108.7,109.7,105.9,105.9,98.4,98.4,115.1,103.4,113.2,116.4,...,100.9,98.9,103.9,103.9,105.5,109.6,91.9,92.5,87,100.3
2019/11,109.6,108.1,106,106,97.8,97.8,112.3,105.3,113.6,117.6,...,107.4,100.2,104.9,104.9,106,110.3,91.7,94.5,88.6,102.8
2019/12,109.8,108.4,105.8,105.8,96.3,96.3,113.4,105.2,120.3,126.4,...,103.9,100.5,111.1,111.1,105,108.2,94.6,94.9,89.5,102.5
2020/01,110.3,105.2,104.3,104.3,101,101,106.9,104.2,105.2,105.3,...,112.7,99.7,107.3,107.3,104,107.4,92.9,94.7,87.7,104.5
2020/02,106.4,119.3,105.2,105.2,105.7,105.7,130.2,100.5,97,85.6,...,75.6,93.1,95.5,95.5,106.8,112.2,89.4,81.2,71.4,95.1
2020/03,101.7,110.1,104.8,104.8,97.5,97.5,116.6,97.2,114.3,120.5,...,33.2,78.7,94.7,94.7,95.7,99.8,82.1,61.6,57.8,66.9
2020/04,102.2,105.7,103.8,103.8,92.7,92.7,110.7,97.3,116.2,126.8,...,29.8,86.3,97.5,97.5,102.7,107.6,86.3,70.5,70.4,70.7
2020/05,104.6,107.4,104.4,104.4,97.8,97.8,111.8,100.9,122.8,139.7,...,41.2,94.5,90.4,90.4,106.9,111.5,91.7,84.9,80.4,91.3

In [73]:
data = []
for i in 서비스업_생산지수.index :
    a = i[:4] + i[-2:]
    data.append(int(a))

In [74]:
서비스업_생산지수.index = data

In [75]:
서비스업_생산지수

항목명1,총지수,"수도, 하수 및 폐기물 처리, 원료 재생업",수도업,수도업,"하수, 폐수 및 분뇨 처리업","하수, 폐수 및 분뇨 처리업","폐기물 수집운반, 처리 및 원료재생업",도매 및 소매업,자동차 및 부품판매업,자동차 판매업,...,유원지 및 기타 오락관련 서비스업,"협회 및 단체, 수리 및 기타개인서비스업",협회 및 단체,산업 및 전문가 단체,개인 및 소비용품 수리업,자동차 수리업,개인 및 가정용품 수리업,기타 개인 서비스업,"미용, 욕탕 및 유사 서비스업",그외 기타 개인 서비스업
201901,108.6,105.9,106.1,106.1,95.6,95.6,109,106.7,110.8,107.9,...,101.6,100.8,104.4,104.4,106.2,107.3,102.8,95.6,91.6,101.1
201902,106.7,101,102.6,102.6,95.1,95.1,102.1,102.6,103.7,104.1,...,102.9,98.3,100,100,103.2,104.9,97.9,93.8,89,100.6
201903,107.4,104.8,105.6,105.6,96.5,96.5,106.9,104.8,107.7,107.4,...,101.4,100.4,101.4,101.4,104.8,106.8,98.3,96.5,91,104.2
201904,108,105.3,105.2,105.2,95.2,95.2,108.5,104.1,108.5,109.4,...,100.8,100.5,103.5,103.5,106.4,108,101.2,95,89.7,102.4
201905,108.4,107.1,107.5,107.5,96.2,96.2,110.3,105,108.4,109.6,...,99.3,99.7,105.1,105.1,106.4,108.5,99.4,93.1,87.1,101.4
201906,107.2,100,105.1,105.1,97.4,97.4,98.5,104.1,106.2,104.9,...,97.9,99.1,103.6,103.6,103.4,105,98,94.8,87.8,104.7
201907,108.4,108.3,105.7,105.7,97.4,97.4,113,104.3,110.2,110.4,...,97.6,98,103.3,103.3,102.8,105.5,93.9,93.1,86.4,102.6
201908,109.3,109.6,105.8,105.8,99.4,99.4,114.5,106.2,111.6,114,...,100.5,99.4,105.4,105.4,104.9,108.2,94,93.8,87.8,102.1
201909,108.2,104.5,105.1,105.1,100,100,105.7,104.1,112.4,115.4,...,97.8,98,97.9,97.9,103.9,107,93.4,93,85.6,103.5
201910,108.7,109.7,105.9,105.9,98.4,98.4,115.1,103.4,113.2,116.4,...,100.9,98.9,103.9,103.9,105.5,109.6,91.9,92.5,87,100.3
201911,109.6,108.1,106,106,97.8,97.8,112.3,105.3,113.6,117.6,...,107.4,100.2,104.9,104.9,106,110.3,91.7,94.5,88.6,102.8
201912,109.8,108.4,105.8,105.8,96.3,96.3,113.4,105.2,120.3,126.4,...,103.9,100.5,111.1,111.1,105,108.2,94.6,94.9,89.5,102.5
202001,110.3,105.2,104.3,104.3,101,101,106.9,104.2,105.2,105.3,...,112.7,99.7,107.3,107.3,104,107.4,92.9,94.7,87.7,104.5
202002,106.4,119.3,105.2,105.2,105.7,105.7,130.2,100.5,97,85.6,...,75.6,93.1,95.5,95.5,106.8,112.2,89.4,81.2,71.4,95.1
202003,101.7,110.1,104.8,104.8,97.5,97.5,116.6,97.2,114.3,120.5,...,33.2,78.7,94.7,94.7,95.7,99.8,82.1,61.6,57.8,66.9
202004,102.2,105.7,103.8,103.8,92.7,92.7,110.7,97.3,116.2,126.8,...,29.8,86.3,97.5,97.5,102.7,107.6,86.3,70.5,70.4,70.7
202005,104.6,107.4,104.4,104.4,97.8,97.8,111.8,100.9,122.8,139.7,...,41.2,94.5,90.4,90.4,106.9,111.5,91.7,84.9,80.4,91.3

In [76]:
서비스업_생산지수.to_csv('서비스업_생산지수.csv')

In [78]:
mapping = pd.read_excel('산업분류_한국은행_mapping.xlsx', header=None)
mapping

,0,1,2,3,4,5,6,7,8
0,한식 음식점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,음식점업
1,체인화 편의점,NaN,NaN,NaN,NaN,NaN,소매업,기타 생활용품 소매업,NaN
2,슈퍼마켓,NaN,NaN,NaN,NaN,NaN,소매업,기타 생활용품 소매업,NaN
3,차량용 주유소 운영업,NaN,NaN,NaN,NaN,NaN,소매업,연료 소매업,NaN
4,비알콜 음료점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,주점 및 비알콜음료점업
5,기타 대형 종합 소매업,NaN,NaN,NaN,NaN,NaN,소매업,종합 소매업,NaN
6,서양식 음식점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,음식점업
7,피자 햄버거 샌드위치 및 유사 음식점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,음식점업
8,빵 및 과자류 소매업,NaN,NaN,NaN,NaN,NaN,소매업,음ㆍ식료품 소매업,NaN
9,중식 음식점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,음식점업
10,기타음식료품위주종합소매업,NaN,NaN,NaN,NaN,NaN,소매업,음ㆍ식료품 소매업,NaN
11,기타 외국식 음식점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,음식점업
12,일식 음식점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,음식점업
13,과실 및 채소 소매업,NaN,NaN,NaN,NaN,NaN,소매업,음ㆍ식료품 소매업,NaN
14,스포츠 및 레크레이션 용품 임대업,NaN,NaN,NaN,NaN,NaN,임대업;부동산 제외,개인 및 가정용품 임대업,NaN
15,화장품 및 방향제 소매업,NaN,NaN,NaN,NaN,NaN,소매업,기타 생활용품 소매업,NaN
16,택시 운송업,NaN,NaN,NaN,NaN,NaN,운수 및 창고업,육상 운송업,NaN
17,그외 기타 종합 소매업,NaN,NaN,NaN,NaN,NaN,소매업,종합 소매업,NaN
18,여관업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,숙박업,일반 및 생활 숙박시설 운영업
19,전시 및 행사 대행업,NaN,NaN,NaN,NaN,NaN,"예술, 스포츠 및 여가관련 서비스업","도서관, 사적지 및 유사 여가관련 서비스업",NaN
20,육류 소매업,NaN,NaN,NaN,NaN,NaN,소매업,음ㆍ식료품 소매업,NaN
21,욕탕업,NaN,NaN,NaN,NaN,NaN,기타 개인 서비스업,"미용, 욕탕 및 유사 서비스업",NaN
22,수산물 소매업,NaN,NaN,NaN,NaN,NaN,소매업,음ㆍ식료품 소매업,NaN
23,골프장 운영업,NaN,NaN,NaN,NaN,NaN,"예술, 스포츠 및 여가관련 서비스업",스포츠 서비스업,NaN
24,차량용 가스 충전업,NaN,NaN,NaN,NaN,NaN,소매업,연료 소매업,NaN
25,버스 운송업,NaN,NaN,NaN,NaN,NaN,운수 및 창고업,육상 운송업,육상 여객 운송업
26,일반유흥 주점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,주점 및 비알콜음료점업
27,호텔업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,숙박업,일반 및 생활 숙박시설 운영업
28,면세점,NaN,NaN,NaN,NaN,NaN,소매업,기타 상품 전문 소매업,NaN
29,정기 항공 운송업,NaN,NaN,NaN,NaN,NaN,운수 및 창고업,항공 운송업,항공 여객 운송업
30,휴양콘도 운영업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,숙박업,일반 및 생활 숙박시설 운영업
31,건강보조식품 소매업,NaN,NaN,NaN,NaN,NaN,소매업,음ㆍ식료품 소매업,NaN
32,관광 민예품 및 선물용품 소매업,NaN,NaN,NaN,NaN,NaN,소매업,기타 상품 전문 소매업,NaN
33,기타 주점업,NaN,NaN,NaN,NaN,NaN,숙박 및 음식점업,음식점 및 주점업,주점 및 비알콜음료점업
34,내항 여객 운송업,NaN,NaN,NaN,NaN,NaN,운수 및 창고업,해상 운송업,NaN
35,여행사업,NaN,NaN,NaN,NaN,NaN,사업지원 서비스업,여행사 및 기타 여행보조 서비스업,NaN
36,자동차 임대업,NaN,NaN,NaN,NaN,NaN,임대업;부동산 제외,운송장비업,NaN
37,마사지업,NaN,NaN,NaN,NaN,NaN,기타 개인 서비스업,"미용, 욕탕 및 유사 서비스업",NaN
38,그외 기타 스포츠시설 운영업,NaN,NaN,NaN,NaN,NaN,"예술, 스포츠 및 여가관련 서비스업",스포츠 및 오락관련 서비스업,스포츠 서비스업
39,기타 수상오락 서비스업,NaN,NaN,NaN,NaN,NaN,"예술, 스포츠 및 여가관련 서비스업",스포츠 및 오락관련 서비스업,스포츠 서비스업
40,그외 기타 분류안된 오락관련 서비스업,NaN,NaN,NaN,NaN,NaN,"예술, 스포츠 및 여가관련 서비스업",스포츠 및 오락관련 서비스업,스포츠 서비스업

In [80]:
mapping = mapping.fillna(method='ffill', axis=1)

In [81]:
mapping = mapping[[0,8]]

In [83]:
mapping.columns=['dacon_분류','한국은행_분류']

In [84]:
mapping.to_csv('mapping.csv')

In [86]:
min_data.to_csv('min_data.csv')